#carousel {
	margin: 0 auto;
	padding: 0;
	max-width: 300px;
	max-height: 200px;
	overflow: hidden;
	position: relative; 
}

#carousel ul {
	margin: 0;
	margin-left: -300px;
	padding: 0;
	border: none;
	width: 1200px;
	overflow: none;
}

#carousel ul li {
	line-height: 0;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none; 
}

#carousel img {
	height: 200px;
	width: 300px;
}

.left-button, .right-button {
	opacity: 0.7;
	position: absolute;
	top: 80px;
}

.left-button {
	left: 10px;
}

.right-button {
	right: 10px;
}

.circles {
	position: absolute;
	top: 180px;
	width: 80%;
	margin: 0 10%;
	display: flex;
	justify-content: center;
}

.circle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid white;
	margin: 0 2px;
}

.isActive {
	background-color: #2583db;
	opacity: 0.8;
}